<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://gmpg.org/xfn/11">
    <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
    <link rel="alternate" type="application/atom+xml" title="StartupAbility" href="/index.xml" />

    <link rel="me" href="http://rosien.net" /> 
    <link rel="me" href="http://twitter.com/arosien" /> 
    <link rel="me" href="http://www.linkedin.com/in/arosien" />

    <title>{{ page.title }}</title>
    
    <script language="JavaScript" type="text/javascript">
      if (top.location != self.location) top.location.replace(self.location);
    </script>

    <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  </head>
  <body>
      <div id="site">
          <div id="header">
              <h1><a href="/">StartupAbility: Do you have it?</a></h1>
          </div>
          <div id="content">
              {{ content }}
          </div>
	  <div id="footer">
		<span id="navigation">
                      <a href="/about.html">About StartupAbility</a> &nbsp;
                      <a href="/archive.html">Archive of Posts</a> &nbsp;
                      <a href="/index.xml">Feed</a> &nbsp;
                </span>
		<p/>
		<p/>
		<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">&copy;</a> 2011 by <a href="/about.html">Adam Rosien</a>
	  </div>
      </body>
</html>
